<!DOCTYPE html>
<html>
<head>
    <title>Logged In</title>
</head>
<body>

    <h1>Login Successful</h1>

    <p>Welcome, <%= user.firstName %> <%= user.lastName %>!</p>
    <p>Email: <%= user.email %></p>
    <p>Username: <%= user.username %></p>

</body>
</html>
